@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #fff4e7;
}

#column-2 {
  background:  #ffe4c4;
}

#column-3 {
  background: #ffefdc;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #cccce8;
  }

  #column-1 {
    background-color: #6495ed;
  }

  #column-2 {
    background-color:  #d0dffa;
  }

  #column-3 {
    background-color:   #f0f4fd;
    width: 100%;
  }

  footer {
    background-color: #cccce8;
  }

  .col-3 {
    width: 50%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #faf2fd;
  }

  #column-1 {
    background-color:#a933dc;
  }

  #column-2 {
    background-color:#cf8ceb;
  }

  #column-3 {
    background-color: #eaccf6;
    width: 33.3%;
  }

  footer {
    background-color: #9400d3;
  }
  
  .col-3 {
    width: 33.3%;
  }

}
